@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Metal+Mania');

body {
		background-color: black;
	
	
}
.container { 
			midth: 100%;
			max-width: 1200px;
			margin: 0 auto;
}
.container:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

h1, p  {
	font-family: 'Metal Mania', cursive;
	color: red;
	text-align: center;
	margin-top: 30px;
	padding-bottom: 30px
}

h1:hover {
	transform: scale(1.1);
	transition: 1s;
	
}

.hidden {
	width: 200px;
	height: 150px;
	
}
img {
	display: block;
	margin: 0 auto;
	opacity: 0.1;
}

img:hover {
		opacity: 0.5;
		transform: scale(1.2);
		transition: 2s;
	
	
}
